/*@import '~react-select/dist/react-select.css';*/
@import '~bootstrap/dist/css/bootstrap.min.css';
/*@import '~react-bootstrap-modal/lib/css/rbm-patch.css';
@import '~react-redux-toastr/lib/css/react-redux-toastr.min.css';
@import '~react-select/dist/react-select.css';
@import '~react-bootstrap-table/dist/react-bootstrap-table.min.css';
@import '~react-day-picker/lib/style.css';*/
@import '~semantic-ui-css/semantic.min.css';


.change_color_ok {
    color: green;
}

.change_color_bad {
    color: red;
}

.central_form {
    margin: auto;
    display: table;
}

.photo {
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

.border_photo {
    display: block;
    width: 128px;
    height: 128px;
    background: #efefef;
}

.change_selected {
    color: #c4d9ff;
}

.image {
    position: relative;
    width: 100%;
}

.icon_from_image {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.form_manage_user {
    padding: 15px;
}

.login-block {
    width: 290px;
    padding: 20px;
    background: rgba(65, 105, 225, 0.03);
    border-radius: 21px;
    border-top: 5px solid midnightblue;
    margin: 0 auto;
    height: 230px;
    border-right: 4px solid midnightblue;
    border-bottom: 5px solid midnightblue;
    border-left: 4px solid midnightblue;
}

.login-block h1 {
    text-align: center;
    color: midnightblue;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: monospace;
}

.login-block input {
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid blue;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: midnightblue;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid midnightblue;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: midnightblue;
}

.forgot_link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: midnightblue;
}

.forgot_link:hover {
    color: red;
}

.forgot_link {
    float: right;
}

.custom_width {
    width: 50%;
    display: inline-grid;
}

.custom_input {
    width: 16%;
    float: left;
}

.padding_inputs {
    padding-bottom: 15px;
}

.displayNone {
    display: none;
}

.choose_max_val {
    width: 3%;
    float: left;
    cursor: pointer;
    margin-left: -38px;
}
